@charset "utf-8";
/* CSS Document */
.container-fluid {
	transition: all 0.3s ease;
	background-color: white
}
.img-responsive1 {
	width: 100%
}
.pull-top {
	margin-top: 100px
}
.pull-top50 {
	margin-top: 50px
}
#foter
{background-color: #2E2E2E; min-height: 50px; }

#foter  a{
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
	float: left;
	letter-spacing: 4px;}

.navbar {
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
	text-align: center
}
.tab1 {
	padding: 50px 50px;
}
.item1 {
	width: 80%;
	margin: 0px auto;
	padding: 0px auto
}
.grow:hover {
	-webkit-transform: scale(1.3);
	-ms-transform: scale(1.3);
	transform: scale(1.3);
}
.w80 {
	width: 80%; margin: 0px; padding: 0px
}
.w80 h3 {
	padding-top: 20px
}
.navbar-nav a {
	text-decoration: none;
	color: black;
	font-size: 12px;
	font-family: "Roboto Medium";
	letter-spacing: 2px
}
.hover08 {
	position: relative
}
.overlay08 {
	position: absolute;
	bottom: 0;
	background: rgb(250,178,163);
	background: rgba(250,178,163, 0.5); /* Black see-through */
	color: #f1f1f1;
	width: 100%;
	transition: .5s ease;
	opacity: 0;
	color: white;
	font-size: 20px;
	padding: 20px;
	text-align: center;
}
.boxmail {
	background-color: #fab2a3;margin: 0px; padding: 0px
}
.image08 {
	display: block;
	width: 100%;
	height: auto;
	padding: 0px;
	margin: 0px
}
.hover08:hover .overlay08 {
	opacity: 1;
}











.form-style-1 {
	margin:10px auto;
	max-width: 400px;
	padding: 20px 12px 10px 20px;
	font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.form-style-1 li {
	padding: 0;
	display: block;
	list-style: none;
	margin: 10px 0 0 0;
}
.form-style-1 label{
	margin:0 0 3px 0;
	padding:0px;
	display:block;
	font-weight: bold;
}
.form-style-1 input[type=text], 
.form-style-1 input[type=date],
.form-style-1 input[type=datetime],
.form-style-1 input[type=number],
.form-style-1 input[type=search],
.form-style-1 input[type=time],
.form-style-1 input[type=url],
.form-style-1 input[type=email],
textarea, 
select{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	border:1px solid #BEBEBE;
	padding: 7px;
	margin:0px;
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	outline: none;	
}
.form-style-1 input[type=text]:focus, 
.form-style-1 input[type=date]:focus,
.form-style-1 input[type=datetime]:focus,
.form-style-1 input[type=number]:focus,
.form-style-1 input[type=search]:focus,
.form-style-1 input[type=time]:focus,
.form-style-1 input[type=url]:focus,
.form-style-1 input[type=email]:focus,
.form-style-1 textarea:focus, 
.form-style-1 select:focus{
	-moz-box-shadow: 0 0 8px #88D5E9;
	-webkit-box-shadow: 0 0 8px #88D5E9;
	box-shadow: 0 0 8px #88D5E9;
	border: 1px solid #88D5E9;
}
.form-style-1 .field-divided{
	width: 49%;
}

.form-style-1 .field-long{
	width: 100%;
}
.form-style-1 .field-select{
	width: 100%;
}
.form-style-1 .field-textarea{
	height: 100px;
}
.form-style-1 input[type=submit], .form-style-1 input[type=button]{
	background: #4B99AD;
	padding: 8px 15px 8px 15px;
	border: none;
	color: #fff;
}
.form-style-1 input[type=submit]:hover, .form-style-1 input[type=button]:hover{
	background: #4691A4;
	box-shadow:none;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
}
.form-style-1 .required{
	color:red;
}

.animated.hinge {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}
